// === imports ===

@import "../../node_modules/normalize.css/normalize.css";

// === constants ===

@border-gray: 1px solid @color-border-gray;
@border-radius: 1.5rem;
@color-bg: rgb(10 12 14);
@color-blue-light: #acf3f2;
@color-blue: #00fffc;
@color-border-gray: rgb(138 145 158 / 20%);
@color-text-gray: #aaa;
@color-text-red: rgb(255, 158, 158);
@color-text: #eee;
@font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
@font-system: system-ui;
@gap-025: 0.25rem;
@gap-05: 0.5rem;
@gap-10: 1rem;
@gap-15: 1.5rem;
@gap-20: 2rem;
@gap-25: 2.5rem;
@gap-30: 3rem;
@max-width-page-regular: 1440px;
@screen-large: 1100px;
@screen-medium: 700px;
@screen-small: 420px;

// === resets ===

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: @font-mono;
    color: @color-text;
    text-decoration: none;
}

body {
    background-color: @color-bg;
}

h1, h2, h3, h4, h5, button, input {
    padding: 0;
    margin: 0;
}

// === utility classes ===

.cursor-pointer {
    cursor: pointer;
}

.break-any {
    overflow-wrap: anywhere;
}

.break-all {
    word-break: break-all;
}

.center-text {
    text-align: center;
}

.center-element {
    margin: 0 auto;
}

.text-green {
    color: lightgreen;
}

.success {
    .break-any;
    .text-green;
}

.error {
    .break-any;
    color: @color-text-red;
}

.address {
    .break-all;
}

.rounded {
    padding: 0.67em 1.5em;
    border-radius: 2em;
}

.icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: @color-text;
    &:hover {
        fill: @color-blue;
    }
}

// === layout ===

header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: @gap-10 @gap-25;
    padding: 0 @gap-10*1.25;
    height: 62px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: sticky;
    top: 0;
    left: 0;
    user-select: none;
    background-color: @color-bg;
    border-bottom: 1px solid @color-border-gray;
    z-index: 1;
    .header-item {
        &:first-child {
            flex-grow: 1;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 0.02em;
        }
        display: inline-block;
    }
    // #header-logo {
    //     height: 2.5rem;
    //     aspect-ratio: 692 / 643;
    // }
}

footer {
    padding: 3em 0 2em;
    display: flex;
    justify-content: space-between;
}

.page-regular {
    max-width: @max-width-page-regular;
    margin: 0 auto;
    padding: @gap-20 @gap-20 8rem;
    .page-content {
        display: flex;
        flex-direction: column;
        gap: @gap-30;
        .page-title {
            font-size: 2rem;
            font-weight: bold;
            margin: 0 auto;
        }
        .page-section {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: @gap-15;
            .section-title {
                color: white;
                font-size: 1.75em;
                font-weight: bold;
                padding: 0 @gap-025;
            }
            .section-description {
                padding: 0 @gap-025;
            }
        }
    }
    @media (max-width: @screen-medium) {
        padding-left: @gap-15;
        padding-right: @gap-15;
    }
}

@color-bg-red: #cb3333;
@color-bg-purple: #623cb9;
@color-bg-green: #2e982e;
.section-header, .card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: @gap-15;
    &.column-on-small {
        @media (max-width: @screen-small) {
            flex-direction: column-reverse;
        }
    }

    .auction-header-info {
        display: flex;
        align-items: center;
        gap: @gap-15;

        @media (max-width: @screen-small) {
            width: 100%;
            justify-content: space-between;
        }
    }

    .header-label {
        text-align: center;
        padding: 0.3em 0.6em;
        font-size: 0.9em;
        color: #bbb;
        background-color: @color-border-gray;
        border-radius: @border-radius;
        font-weight: bold;

        &.cancelled {
            background-color: @color-bg-red;
            color: white;
        }
        &.live {
            background-color: @color-bg-green;
            color: white;
        }
        &.top-bid {
            color: @color-text;
        }
    }
}

.page-description, .section-title, .section-description, .card-title, .card-description {
    .break-any;
}

.page-description, .section-description, .card-description {
    line-height: 1.35em;
    display: flex;
    flex-direction: column;
    gap: @gap-05;
}

.page-description, .section-description, .card-description {
    width: 100%;
}

.page-description {
    .center-text;
}

.page-description, .section-description, .card-description, .card {
    a:not(.btn) {
        color: @color-blue-light;
        &:hover {
            text-decoration: underline;
        }
    }
}

.tabs-container {
    width: 100%;
    .tabs-header {
        display: flex;
        flex-direction: row;
        gap: @gap-10 @gap-25;
        flex-wrap: wrap;
        padding: @gap-10 @gap-025 0;
        width: 100%;
        font-size: 1.1em;
        line-height: 1em;
        justify-content: center;
        @media (max-width: @screen-small) {
            column-gap: 0;
            justify-content: space-around;
        }
        .tab-title {
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .tab-text {
                border-bottom: 2px solid transparent;
            }
            &.selected {
                .tab-text {
                    color: @color-blue;
                    border-bottom: 2px solid @color-blue;
                }
                .tab-icon svg {
                    fill: @color-blue;
                }
            }
        }
    }
    .tabs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: @gap-15;
        padding-top: @gap-15;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: @gap-20;

    .card.grid-item { padding: @gap-15; }
    @media (max-width: @screen-large) {
        grid-template-columns: repeat(3, 1fr);
        gap: @gap-15;
        .card.grid-item { padding: @gap-10; }
    }
    @media (max-width: @screen-medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: @screen-small) {
        grid-template-columns: repeat(1, 1fr);
    }

    .card.grid-item {
        &:hover {
            cursor: pointer;
            background-color: @color-border-gray;
        }
        .sui-item {
            .item-chosen.icon {
                position: absolute;
                top: 4%;
                right: 4%;
                height: 20%;
                width: 20%;
                fill: rgb(0 255 0);
            }
        }
    }
}

// === cards ===

.card-list {
    display: flex;
    flex-direction: column;
    gap: @gap-10;
    width: 100%;
}

.card {
    border-radius: @border-radius;
    border: @border-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: @gap-20;
    gap: @gap-15;
    @media (max-width: @screen-medium) {
        padding: @gap-15;
    }
    .card-title {
        font-size: 1.3em;
        font-weight: bold;
    }
}

.card .sui-item {
    display: flex;
    flex-direction: column;
    gap: @gap-10;
    height: 100%;
    position: relative;

    .item-img {
        position: relative;
        width: 100%;
        padding-top: 50%; // creates a 1:1 aspect ratio even when the image src is broken
        padding-bottom: 50%; // creates a 1:1 aspect ratio even when the image src is broken
        text-align: center;
        border-radius: 5%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5%;
            object-fit: cover;
            background-color: @color-bg;

            &.no-image {
                background-color: #999;
            }
        }
    }

    .item-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: @gap-10;
        .item-button {
            .btn {
                width: 100%;
            }
        }
    }
}

.tx-list {
    margin: 0 auto;
    width: 100%;
}

.card.tx {
    padding: @gap-15;
    gap: @gap-10;
    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: @gap-10;
        @media (max-width: @screen-small) {
            flex-direction: column;
        }
    }
    &.tx-create {
        border-left: 2px solid #4CAF50;
    }
    &.tx-bid {
        border-left: 2px solid #9C27B0;
    }
    .card-title {
        font-size: 1.2em;
    }
}

.card.compact {
    max-width: 550px;
    margin: 0 auto;
}

a.card, .card.link {
    &:hover {
        cursor: pointer;
        background-color: @color-border-gray;
    }
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0 auto;
    width: 100%;
    @media (max-width: @screen-medium) {
        max-width: 100%;
    }

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @gap-025 0;

        .detail-label {
            font-weight: bold;
            color: @color-text-gray;
            flex-shrink: 0;
        }

        @media (max-width: @screen-medium) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
        }
    }
}

// === various components ===

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
}

.form {
    .form-flex;
    margin: 0 auto;
    width: 100%;
    @media (max-width: @screen-medium) {
        width: 100%;
    }
    .form-section {
        .form-flex;
        .section-toggle {
            cursor: pointer;
            user-select: none;
        }
    }
    .chosen-items {
        display: flex;
        flex-direction: column;
        gap: @gap-10;
        .card-list {
            gap: @gap-05;
            .card .sui-item {
                flex-direction: row;
                align-items: center;
                .item-img {
                    img {
                        border: @border-gray;
                        height: 40px;
                        width: 40px;
                    };
                }
                &:hover {
                    cursor: pointer;
                    .item-title {
                        color: @color-text-red;
                    }
                }
            }
        }
    }
}

@btn-blue: rgb(0, 121, 155);
@btn-red: rgb(186, 36, 36);
@btn-white: white;
.btn {
    .rounded;
    &, * { color: @btn-white; }
    background-color: @btn-blue;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    user-select: none;
    &:hover {
        &, * { color: @btn-blue; }
        background-color: @btn-white;
    }
    &.red {
        &, * { color: @btn-white; }
        background-color: @btn-red;
        &:hover {
            &, * { color: @btn-red; }
            background-color: @btn-white;
        }
    }
    &:disabled, &.disabled {
        cursor: default;
        &, * { color: #ddd; }
        background-color: gray;
    }
    &.working {
        position: relative;
        color: transparent;
        pointer-events: none;
        @spin-size: 1.2em;
        @spin-border-width: 0.17em;
        &::after {
            content: '';
            position: absolute;
            left: calc(50% - @spin-size/2 - @spin-border-width);
            top: calc(50% - @spin-size/2 - @spin-border-width);
            width: @spin-size;
            height: @spin-size;
            border: @spin-border-width solid @btn-white;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 0.8s linear infinite;
        }
    }
}

.btn-submit {
    display: flex;
    flex-direction: column;
    gap: @gap-05;
    .success, .error {
        padding-left: 0.8em;
    }
}

.poly-input {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .input-label {
        padding-left: 0.8em;
    }
    .input-error {
        color: @color-text-red;
        padding-left: 0.8em;
    }
    .input {
        .rounded;
        background-color: rgb(58, 61, 69);
        color: @color-text;
        &:focus {
            outline: 2px solid rgb(55 115 245);
        }
        &:disabled {
            background-color: #222;
            color: #777;
        }
    }
}

#btn-network {
    // display: none;
    padding: 0;
    text-transform: uppercase;
    .network-option {
        .text {
            display: block;
            // padding: 0.5em 1em;
        }
        &:not(.selected) {
            .text {
                &:hover {
                    color: @btn-white;
                    // background-color: @btn-dark;
                }
            }
        }
    }
    .network-options {
        position: absolute;
        // background-color: @btn-white;
    }
}

.full-screen-msg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: -1;
    .msg {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
}

.full-card-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    .msg {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1000;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .card.modal-content {
        position: relative;
        width: min(800px, 100%);
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
        box-sizing: border-box;
        background-color: @color-bg;
        color: @color-text;
        border: @border-gray;
        border-radius: @border-radius;
        box-shadow: 0 0px 2rem rgba(0, 0, 0, 1);
        padding: 2rem;

        .modal-close {
            display: flex;
            justify-content: end;
            padding-bottom: 1rem;
            .icon {
                cursor: pointer;
                display: block;
                height: 1.8rem;
                width: 1.8rem;
            }
        }

        @media (max-width: @screen-small) {
            padding: 0;
            border-radius: 0;
            border-left: none;
            border-right: none;
            width: 100%;
            max-height: none;

            .modal-close {
                padding-top: 1rem;
                padding-right: 1rem;
            }
            .card {
                border: none;
                border-radius: 0;
                height: 100%;
            }
        }

    }
}

// === specific pages ===

#page-home {
    #home-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: @gap-25;
        gap: @gap-15;
        border-radius: @border-radius;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        .glitch, .glitch * {
            font-size: 4rem;
            font-weight: bold;
            letter-spacing: 0.05em;
        }
        @media (max-width: @screen-medium) {
            padding: @gap-20;
        }
        #hero-description {
            padding: @gap-10 0;
        }
    }
}

#page-user {
    .tabs-container {
        max-width: 800px;
        margin: 0 auto;
    }
}

// #page-new {
//     #dialog-create-auction {
//         position: fixed;
//         bottom: @gap;
//         right: @gap;
//         background-color: @color-bg;
//         padding: @gap;
//         border-radius: @border-radius;
//         border: @border-gray;
//     }
// }

// === animations ===

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

// === glitch ===

.glitch {
    display: inline-block;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    user-select: none;
    color: white;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% { text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00; }
    15% { text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00; }
    16% { text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00; }
    49% { text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00; }
    50% { text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00; }
    99% { text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00; }
    100% { text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00; }
}
